# Created by .ignore support plugin (hsz.mobi)
.idea/
.DS_Store
.env
*.prof
*.log

#build exe files
/kit
/kite

# files
/changelog.md
kite.yml
.kite.yml
.kitefile
.kite.script.yaml

# dirs
/build/kite-*
/build/dist
/tmp
/test/testdata/
